<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="text/html" charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/style.css" />
    <title>iReporter</title>
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
</head>

<body onload="get_user_name()">
    <div class="pageHeading">
        <span class="logo-l">i</span><span class="logo-r">Reporter</span> | <span id="user_identifier" class="user_id"></span>
    </div>


    <div style="overflow:auto">
        <div class="menu">
            <a href="home.html">@ HOME</a>
            <a href="user_profile.html">PROFILE</a>
            <a href="redflags.html">REDFLAGS</a>
            <a href="interventions.html">INTERVENTIONS</a>
            <button id="logout" class="LogOut">Logout</button>
        </div>

        <div class="main">
            <p id="theme_about">A Stand Against Corruption.</p>
            <div class="head-liner">&nbsp;</div>

            <h3>Create New</h3>
            <button class="new_red_flag_button" onclick="document.getElementById('id02').style.display='block'" style="width:auto;"><img
                    id="img_s" src="../assets/images/flag.png" alt="logo"> <B>Red Flag Record </B></button>
            <button class="new_intervation_button" onclick="document.getElementById('id03').style.display='block'"
                style="width:auto;"><img id="img_s" src="../assets/images/sos.png" alt="logo"> <B>Intervation Request </B></button>
            <p>It is our responsibility as fellow citizens to ensure our country Uganda is corruption free.</p>

            <div class="father">
                <img class="bannerImage" src="../assets/images/take_action.jpg">
            </div>
        </div>

        <div class="right">
            
            <h2 id="text_left">HOTLINE</h2>
            <p id="text_left"><img id="contact_images" src="../assets/images/call.png" alt=""> 0414 5555 555</p>
            <p id="text_left"><img id="contact_images" src="../assets/images/call.png" alt=""> 0414 4444 444</p>
            <p id="text_left"><img id="contact_images" src="../assets/images/email.png" alt=""> ask@ireporter.com</p>

        </div>

    </div>
    <div class="footer">Andela Bootcamp 15 - Anorld Mukone, 2019</div>

    <div id="id02" class="modal">
        <form class="modal-content animate" id="create_red_flag">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="../assets/images/flag2.png" alt="Avatar" class="avatar">
            </div>
            <div class="container">
                    <div  id="feedback_bar1" class="feedback_bar"></div>
                <div>
                    <form action="/action_page.php">
                        <label for="lname">Location</label>
                        <input type="text" id="location" placeholder="Where..">

                        <label for="lname">Image</label>
                        <input type="text" id="image" placeholder="Image Link">

                        <label for="lname">Video</label>
                        <input type="text" id="video" placeholder="Video Link">
 
                        <label for="lname">Comment</label>
                        <input type="text" id="comment"  placeholder="Explain what happened..">

                        <button class="register_button" type="submit">SUBMIT RED-FLAG REPORT</button>

                    </form>
                </div>
            </div>

        </form>
    </div>

    <div id="id03" class="modal">
        <form class="modal-content animate" id = "create_intervention">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="../assets/images/sos2.png" alt="Avatar" class="avatar">
            </div>
            <div class="container">
                    <div  id="feedback_bar2" class="feedback_bar"></div>
                <div>
                        <label for="lname">Location</label>
                        <input type="text" id="location_i" placeholder="Where..">

                        <label for="lname">Image</label>
                        <input type="text" id="image_i" placeholder="Image Link">

                        <label for="lname">Video</label>
                        <input type="text" id="video_i" placeholder="Video Link">
 
                        <label for="lname">Comment</label>
                        <input type="text" id="comment_i"  placeholder="Explain what happened..">

                        <button class="register_button" type="submit">SUBMIT INTERVENTION REQUEST</button>

                </div>
            </div>

        </form>
    </div>
    <script>
        var modal1 = document.getElementById('id02');
        var modal3 = document.getElementById('id03');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal1 || event.target == modal3) {
                modal1.style.display = "none";
                modal3.style.display = "none";
            }
        }
    </script>

    <script type="text/javascript" src="../assets/js/home_page.js"></script>
</body>

</html>
