<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
    <script type="text/javascript" src="../js/functions.js"></script>
    <title>iReporter</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
</head>

<body>

    <div class="pageHeading">
        <span class="logo-l">i</span><span class="logo-r">Reporter</span>
    </div>

    <div style="overflow:auto">
        <div class="menu">

            &nbsp;

        </div>

        <div class="main">
            <p id="theme_about">A Stand Against Corruption</p>

            <div class="father">
                <img class="bannerImage" src="../images/take_action1.jpg">
            </div>

            <div class="father">
                <div class="sister">
                    <p id="theme">Signup today</p>
                    <button class="signin" onclick="document.getElementById('id03').style.display='block'" style="width:auto;"><img
                            src="../images/new-user.png" alt="logo"> <B>Sign-up</B></button>
                </div>
                <div class="brother">
                    <p id="theme">Returning?</p>
                    <button class="createAccount" onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><img
                            src="../images/login.png" alt="logo"> <B>Log-in</B></button>
                </div>
                <p>&nbsp; </p>
                <p>&nbsp; </p>
            </div>

            </br>


            <div id="id01" class="modal">

                <form class="modal-content animate" enctype="multipart/form-data" method="POST">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <img src="../images/login2.png" alt="Avatar" class="avatar">
                    </div>

                    <div class="container">
                        <label for="uname"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" id="email" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" id="password" required>

                        <button class="login_button" onclick="login_user()" type="submit">LOGIN</button>
                       
                    </div>
                </form>
            </div>

            <div id="id03" class="modal">
                <form class="modal-content animate" method="POST">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <img src="../images/new-user2.png" alt="Avatar" class="avatar">
                    </div>

                    <div class="container">                        
                        <label for="uname"><b>Firstname</b></label>
                        <input type="text" placeholder="Enter Username" name="firstname" required>

                        <label for="uname"><b>Lastname</b></label>
                        <input type="text" placeholder="Enter Username" name="lastname" required>

                        <label for="uname"><b>Othernames</b></label>
                        <input type="text" placeholder="Enter Username" name="othernames" required>

                        <label for="uname"><b>Email</b></label>
                        <input type="text" placeholder="Enter Username" name="email" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>
                        
                        <label for="uname"><b>Phone Number</b></label>
                        <input type="text" placeholder="Enter Username" name="phonenumber" required>

                        <label for="uname"><b>User Name</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required>
                        
                        <button class="register_button" onclick="signup()" type="submit">REGISTER</button>

                    </div>

                </form>
            </div>

            <script>
                var modal1 = document.getElementById('id01');
                var modal3 = document.getElementById('id03');

                window.onclick = function (event) {
                    if (event.target == modal1 || event.target == modal3) {
                        modal1.style.display = "none";
                        modal3.style.display = "none";
                    }
                }
            </script>

        </div>

        <div class="right">
            <h2 id="text_left">ABOUT</h2>
            <p id="text_left">We aim at creating a corruption free world. Do not keep quiet, report corrupt officials
                immediately for proper Accountability, Unity and Development.</p>
            &nbsp;
            <h2 id="text_left">HOTLINE</h2>
            <p id="text_left"><img id="contact_images" src="../images/call.png" alt=""> 0414 5555 555</p>
            <p id="text_left"><img id="contact_images" src="../images/call.png" alt=""> 0414 4444 444</p>
            <p id="text_left"><img id="contact_images" src="../images/email.png" alt=""> ask@ireporter.com</p>

        </div>

    </div>

    <div class="footer">Andela Bootcamp 15 - Anorld Mukone, 2019</div>

</body>

</html>