<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="text/html" charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/style.css" />
    <script type="text/javascript" src="../assets/js/functions.js"></script>
    <script type="text/javascript" src="../assets/js/get_intervention.js"></script>
    <title>iReporter</title>
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
</head>

<body>
        <div class="pageHeading">
                <span class="logo-l">i</span><span class="logo-r">Reporter</span> | <span id="user_identifier_profile" class="user_id"></span>
            </div>


    <div style="overflow:auto">
        <div class="menu">
            <a href="#"></a>
        </div>

        <div class="main">
            <p id="theme_about">A Stand Against Corruption.</p>
            <h4>Always Important To Add Support To Your Claims</h4>
            
            <div id="feedback_bar" class="feedback_bar"></div>

            <h5 id="theme_blue"><img id="img_s" src="../assets/images/sos.png" alt="logo"> INTERVENTION DETAIL</h5>
            <div style="width:100%">
                <div class="card">
                    <img id="smaller_box" src="../assets/images/sos2.png" alt="Avatar">
                    <div class="container">
                            <p><b>Date</b>: <span id="item_date"></span></p>
                            <p><b>Status</b>: <span id="item_status"></span></p>
                            <p><b>Comment</b>: <span id="item_comment"></span></p>
                            <p><b>Location</b>: <span id="item_location"></span></p>
                            <p><b>Images</b>: <span id="item_images"></span></p>
                            <p><b>Videos</b>: <span id="item_videos"></span></p>
                            <p><b>Created By</b>: <span id="item_creator"></span></p>
                    </div>
                </div>
                <div id = "only_creater">
                        <button class="new_intervation_button" onclick="document.getElementById('id02').style.display='block'" style="width:auto;"><img
                            id="img_s" src="../assets/images/sos2.png" alt="logo"> <B>Edit Location </B></button>
                         
                        <button class="new_intervation_button" onclick="document.getElementById('id02').style.display='block'" style="width:auto;"><img
                                id="img_s" src="../assets/images/sos2.png" alt="logo"> <B>Edit Comment </B></button>
                          
                        <button class="new_intervation_button" onclick="document.getElementById('id02').style.display='block'" style="width:auto;"><img
                                    id="img_s" src="../assets/images/sos2.png" alt="logo"> <B>Delete Flag Record </B></button>
                    </div>

              <br />
            <br />
            <br />
            </div>

        </div>

        <div class="right">
            <h2 id="text_left">HOTLINE</h2>
            <p id="text_left"><img id="contact_images" src="../assets/images/call.png" alt=""> 0414 5555 555</p>
            <p id="text_left"><img id="contact_images" src="../assets/images/call.png" alt=""> 0414 4444 444</p>
            <p id="text_left"><img id="contact_images" src="../assets/images/email.png" alt=""> ask@ireporter.com</p>

        </div>

        <script>get_intervention_detail()</script>
    </div>
    <div class="footer">Andela Level Up 35 December - Anorld Mukone, 2018</div>

    
    <div id="id01" class="modal">
            <form class="modal-content animate" action="active_orders.html">
                    <div class="imgcontainer">
                            <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                            <img src="../assets/images/sos2.png" alt="Avatar" class="avatar">
                        </div>
                <div class="container">
                    <div>
                            <form class="form_style" enctype="multipart/form-data" method="POST" action="action_page.html">

                                <label for="uname"><b>Latitude</b></label>
                                <input type="text" placeholder="Latitude" name="uname" required>
                                <label for="uname"><b>Longitude</b></label>
                                <input type="text" placeholder="Longitude" name="uname" required>
                                <div class="form-group">
                                    <input class="form-control-file" name="logo" id="exampleInputFile" aria-describedby="fileHelp"
                                        type="file">
                                    <small id="fileHelp" style="text-align:left;" class="form-text text-muted">Upload Image</small>
                                </div>
                                <div class="form-group">
                                    <input class="form-control-file" name="logo" id="exampleInputFile" aria-describedby="fileHelp"
                                        type="file">
                                    <small id="fileHelp" style="text-align:left;" class="form-text text-muted">Upload Video</small>
                                </div>
                                <input class="btn btn-primary my-2 my-sm-0" type="submit" value="ADD INFO TO INTERVATION REQUEST" />
            
            
                            </form>
                    </div>
                </div>
    
            </form>
        </div>
<script>user_name_detail();</script>
</body>

</html>