<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iReporter</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <script src="main.js"></script>
</head>

<body>
    <div class="pageHeading">
        <span class="logo-l">i</span><span class="logo-r">Reporter</span>
    </div>


    <div style="overflow:auto">
        <div class="menu">
            <a href="home.html">HOME</a>
            <a href="user_profile.html">PROFILE</a>
            <a href="records.html">RECORDS</a>
            <a href="redflags.html">REDFLAGS</a>
            <a href="intervation.html">INTERVATION..</a>
        </div>

        <div class="main">
            <p id="theme_about">A Stand Against Corruption.</p>
            <h4>Always Important To Add Support To Your Claims</h4>
            
            <h5 id="theme_blue"><img id="img_s" src="images/sos.png" alt="logo">INTERVATION REQUESTS</h5>
            <div style="width:100%">
                <table style="max-width:100%">
                    <tr>
                        <th>No.</th>
                        <th>Date</th>
                        <th>Request</th>
                        <th id="disappear_small">Sector</th>
                        <th id="disappear_small">Status</th>
                        <th id="disappear_small">Image Evidence</th>
                        <th id="disappear_small">Video</th>
                        <th id="disappear_small">Lat</th>
                        <th id="disappear_small">Long</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a href="intervation_detail.html">12/04/2015 at 8:00 AM</a></td>
                        <td>People are filling up wetlands and building in them in Kisasi along Northern bypass. This should be looked into.</td>
                        <td id="disappear_small">Government, NEMA, Police, KCCA</td>
                        <td id="disappear_small">Resolved</td>
                        <td id="disappear_small"><a href="records_images.html">view</a></td>
                        <td id="disappear_small"><a href="records_videos.html">view</a></td>
                        <td id="disappear_small">0.125</td>
                        <td id="disappear_small">0.458</td>
                    </tr>
                </table>

            </div>


        </div>

        <div class="right">
            <div class="LogOut"><a href="index.html">Logout</a></div>

            <h2 id="text_left">HOTLINE</h2>
            <p id="text_left"><img id="contact_images" src="images/call.png" alt=""> 0414 5555 555</p>
            <p id="text_left"><img id="contact_images" src="images/call.png" alt=""> 0414 4444 444</p>
            <p id="text_left"><img id="contact_images" src="images/email.png" alt=""> ask@ireporter.com</p>

        </div>

    </div>
    <div class="footer">Andela Level Up 35 December - Anorld Mukone, 2018</div>

</body>

</html>