<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iReporter</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <script src="main.js"></script>
</head>

<body>
    <div class="pageHeading">
        <span class="logo-l">i</span><span class="logo-r">Reporter</span>
    </div>


    <div style="overflow:auto">
        <div class="menu">
            <a href="home.html">HOME</a>
            <a href="user_profile.html">PROFILE</a>
            <a href="records.html">RECORDS..</a>
            <a href="redflags.html">REDFLAGS</a>
            <a href="intervation.html">INTERVATION</a>
        </div>

        <div class="main">
            <p id="theme_about">A Stand Against Corruption.</p>
            <h4>Always Important To Add Support To Your Claims</h4>
            <a id="pointer_link" href="redflags.html">
                <h5 id="theme"><img id="img_s" src="images/flag.png" alt="logo"> REDFLAGS</h5>
            </a>
            <a id="pointer_link" href="intervation.html">
                <h5 id="theme_blue"><img id="img_s" src="images/sos.png" alt="logo"> INTERVATION REQUESTS</h5>
            </a>
            <div style="width:100%">
                <div>
                    <h1 id="theme"><img id="" src="images/tomatoes.png" alt="logo"> Oopps, No images found!</h1>
                </div>
            </div>

        </div>

        <div class="right">
            <div class="LogOut"><a href="index.html">Logout</a></div>

            <h2 id="text_left">HOTLINE</h2>
            <p id="text_left"><img id="contact_images" src="images/call.png" alt=""> 0414 5555 555</p>
            <p id="text_left"><img id="contact_images" src="images/call.png" alt=""> 0414 4444 444</p>
            <p id="text_left"><img id="contact_images" src="images/email.png" alt=""> ask@ireporter.com</p>

        </div>

    </div>
    <div class="footer">Andela Level Up 35 December - Anorld Mukone, 2018</div>

</body>

</html>