<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <title>iReporter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <script src="main.js"></script>
</head>

<body>
    <div class="pageHeading">
        <span class="logo-l">i</span><span class="logo-r">Reporter</span>
    </div>


    <div style="overflow:auto">
        <div class="menu">
            <a href="home.html">HOME</a>
            <a href="user_profile.html">PROFILE..</a>
            <a href="records.html">RECORDS</a>
            <a href="redflags.html">REDFLAGS</a>
            <a href="intervation.html">INTERVATION</a>
        </div>

        <div class="main">
            <p id="theme_about">A Stand Against Corruption.</p>
            <h2>Stats</h2>
            <p>Displayed are details of your previous and current reports and requests on iReporter.</p>
            <div>Drafts: 0</div>
            <div>Under investigation: 1</div>
            <div>Resolved: 0</div>
            <div>Rejected: 1</div>
            <div>Total: 2</div>
            </br>
            <div style="width:100%">
                <table style="max-width:100%">
                    <tr>
                        <th>No.</th>
                        <th>Time</th>
                        <th>Names</th>
                        <th id="disappear_small">Incident</th>
                        <th id="disappear_small">Sector</th>
                        <th id="disappear_small">Status</th>
                        <th id="disappear_small">Image Evidence</th>
                        <th id="disappear_small">Video</th>
                        <th id="disappear_small">Lat</th>
                        <th id="disappear_small">Long</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a href="redflag_detail.html">12/04/2015 at 8:00 AM</a></td>
                        <td>Mrs. Komago Aketch</td>
                        <td id="disappear_small">This Traffic office asked for a bribe of UGX 40000 to let me go.</td>
                        <td id="disappear_small">Police</td>
                        <td id="disappear_small">Under Investigation</td>
                        <td id="disappear_small"><a href="records_images.html">view</a></td>
                        <td id="disappear_small"><a href="records_videos.html">view</a></td>
                        <td id="disappear_small">0.015</td>
                        <td id="disappear_small">0.221</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="redflag_detail.html">24/07/2016 at 2:45pm</a></td>
                        <td>Mr. Ssewanyana Peter</td>
                        <td id="disappear_small">Is building in a wetland</td>
                        <td id="disappear_small">NEMA, KCCA</td>
                        <td id="disappear_small">Rejected</td>
                        <td id="disappear_small"><a href="records_images.html">view</a></td>
                        <td id="disappear_small"><a href="records_videos.html">view</a></td>
                        <td id="disappear_small">0.012</td>
                        <td id="disappear_small">0.324</td>
                    </tr>
                
                </table>
                
                </div>
                
                <h5 id="theme_blue"><img id="img_s" src="images/sos.png" alt="logo">INTERVATION REQUESTS</h5>
                <div style="width:100%" class="form_style">
                    <table style="max-width:100%">
                        <tr>
                            <th>No.</th>
                            <th>Date</th>
                            <th>Request</th>
                            <th id="disappear_small">Sector</th>
                            <th id="disappear_small">Status</th>
                            <th id="disappear_small">Image Evidence</th>
                            <th id="disappear_small">Video</th>
                            <th id="disappear_small">Lat</th>
                            <th id="disappear_small">Long</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><a href="intervation_detail.html">12/04/2015 at 8:00 AM</a></td>
                            <td>People are filling up wetlands and building in them in Kisasi along Northern bypass. This
                                should be looked
                                into.</td>
                            <td id="disappear_small">Government, NEMA, Police, KCCA</td>
                            <td id="disappear_small">Resolved</td>
                            <td id="disappear_small"><a href="records_images.html">view</a></td>
                            <td id="disappear_small"><a href="records_videos.html">view</a></td>
                            <td id="disappear_small">0.125</td>
                            <td id="disappear_small">0.458</td>
                        </tr>
                    </table>

            </div>

        </div>
        <div class="right">
            <div class="LogOut"><a href="index.html">Logout</a></div>
        
            <h2 id="text_left">HOTLINE</h2>
            <p id="text_left"><img id="contact_images" src="images/call.png" alt=""> 0414 5555 555</p>
            <p id="text_left"><img id="contact_images" src="images/call.png" alt=""> 0414 4444 444</p>
            <p id="text_left"><img id="contact_images" src="images/email.png" alt=""> ask@ireporter.com</p>
        
        </div>

    </div>
    <div class="footer">Andela Level Up 35 December - Anorld Mukone, 2018</div>



    <script type="text/javascript">
        //variable that will increment through the images
        var step = 1
        function slideit() {
            //if browser does not support the image object, exit.
            if (!document.images)
                return
            document.images.slide1.src = eval("image" + step + ".src")
            if (step < 5)
                step++
            else
                step = 1
            //call function "slideit()" every 4 seconds
            setTimeout("slideit()", 2000)
        }

        slideit()
    </script>

</body>

</html>